@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap'); */
  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 222.2 84% 4.9%;

      --card: 0 0% 100%;
      --card-foreground: 222.2 84% 4.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 222.2 84% 4.9%;

      --primary: 222.2 47.4% 11.2%;
      --primary-foreground: 210 40% 98%;

      --secondary: 210 40% 96.1%;
      --secondary-foreground: 222.2 47.4% 11.2%;

      --muted: 210 40% 96.1%;
      --muted-foreground: 215.4 16.3% 46.9%;

      --accent: 210 40% 96.1%;
      --accent-foreground: 222.2 47.4% 11.2%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;

      --border: 214.3 31.8% 91.4%;
      --input: 214.3 31.8% 91.4%;
      --ring: 222.2 84% 4.9%;

      --radius: 0.5rem;
    }

    .dark {
      --background: 222.2 84% 4.9%;
      --foreground: 210 40% 98%;

      --card: 222.2 84% 4.9%;
      --card-foreground: 210 40% 98%;

      --popover: 222.2 84% 4.9%;
      --popover-foreground: 210 40% 98%;

      --primary: 210 40% 98%;
      --primary-foreground: 222.2 47.4% 11.2%;

      --secondary: 217.2 32.6% 17.5%;
      --secondary-foreground: 210 40% 98%;

      --muted: 217.2 32.6% 17.5%;
      --muted-foreground: 215 20.2% 65.1%;

      --accent: 217.2 32.6% 17.5%;
      --accent-foreground: 210 40% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 40% 98%;

      --border: 217.2 32.6% 17.5%;
      --input: 217.2 32.6% 17.5%;
      --ring: 212.7 26.8% 83.9%;
    }
  }

  @layer base {

    /* .responsive-text-title {
      font-size: max(48px, min(7vh, 4vw));
    }

    .responsive-text-sm {
      font-size: max(14px, min(2vh, 1.2vw));
    } */

    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }

    .text-subtitle {
      @apply text-2xl md:text-3xl xl2:text-[50px] xl2:leading-none 2xl:text-subtle font-bold;
    }
    .text-innersubtitle {
      @apply text-2xl md:text-[40px] font-bold;
    }
  }
  body{
    color:#fff;
  background-color: #000;
  background-image:url('/src/assets/bgdot.png');
  background-repeat: repeat; 
  background-size:100%;
  background-position:top;
  }

  .bg-menu-img {
    background: url('/src/assets/cornergradient.png') no-repeat bottom;
    
    /* bacxkground-position: bottom; */
  }
  .bg-blur {

      background: 
        rgba(255, 255, 255, 0.3),
        linear-gradient(270deg, rgba(72, 170, 173, 0.5) 0%, rgba(23, 125, 219, 0.5) 100%); 
      backdrop-filter: blur(10px); 
      -webkit-backdrop-filter: blur(10px); 
  }
  .ab-center {
    left: 50%;
      transform: translateX(-50%); 
  }
  .img-center{
    top: 50%;
      left: 50%; 
      transform: translate(-50%, -50%); 
  }
  .ant-menu-title-content{
    /* color: #fff; */
    font-family: 'Anonymous Pro', monospace;
  }

  .ant-menu{
    text-align: left;
    background: black;
  }
  .separator {
    margin: 0 8px;
    color: #fff;
    font-size: 16px;
    line-height: 22px;
  }

  :where(.css-dev-only-do-not-override-j9bb5n).ant-menu-light .ant-menu-item:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected):hover, :where(.css-dev-only-do-not-override-j9bb5n).ant-menu-light>.ant-menu .ant-menu-item:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected):hover, :where(.css-dev-only-do-not-override-j9bb5n).ant-menu-light .ant-menu-item:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected) >.ant-menu-submenu-title:hover, :where(.css-dev-only-do-not-override-j9bb5n).ant-menu-light>.ant-menu .ant-menu-item:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected) >.ant-menu-submenu-title:hover{
    color:#177DDB;
  }

  .ant-menu-item{
    color: #fff!important;
  }
  .ant-menu-submenu-title{
    color: #fff!important;
  }
  .bg-custom-img {
    background-image: url('/src/assets/Ellipse.png'); 
    /* bacxkground-position: bottom; */
  }
  .bg-placard-img{
    background-image: url('/src/assets/herocard.png'); 
    /* backdrop-filter: blur(10px);  */

  }
  .notice-text{
    font-family: 'Anonymous Pro', monospace;
  }

